* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgba(16, 18, 32, 1);
}

 .container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 20px;
    flex-wrap: wrap;
}

.birinchi {
    display: flex;
    gap: 29px;
}

.birinchi h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
}


.birinchi #anime {
    background-color: rgba(35, 32, 40, 1);
    box-shadow: 0 0 11px 0 white;
    width: 150px;
    color: white;
}

.ikkinchi {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.ikkinchi p {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(255, 255, 255, 1);
}

.ikkinchi button {
    width: 175px;
    height: 60px;
    background: rgba(191, 175, 242, 1);
    border-radius: 15px;
    border: none;
    font-size: 18px;
    font-weight: 400px;
    line-height: 32px;

}

.hero {
    margin-top: 300px;
}

.box {
    position: relative;
    width: 325px;
    height: 240px;
    border-radius: 32px;
    background-color: rgba(35, 32, 40, 1);
}

.box img {
    position: absolute;
    top: -280px;
}

.box h2 {
    font-size: 32px;
    font-weight: 400;
    color: white;
    margin-top: 40px;
    margin-left: 50px;    
}

.box p {
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-top: 15px;
    margin-left: 8px;
}
footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a{
    text-decoration: none ;
    color: rgb(255, 255, 255);
    font-size: 16px;
}
footer{
    margin-top: 50px;
}
nav{
    display: flex;
    gap: 32px;
}
footer h2{
    color: rgb(255, 255, 255);
}